@font-face {
  font-family: 'CustomFont';
  src: url('./assets/custom-font.ttf') format('truetype');
}

body {
  font-family: 'CustomFont', Arial, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(0, 128, 34);
}
